# Unnecessary folders
/scratch
/temp
/build
/docs/build
/dist
/misc

# Python residues
# **/.vscode/ # This allows easier sharing of black formatter settings
**/__pycache__
**/*.pyd
**/*.pyc
molli.egg-info/

# Jupyter residues
**/.ipynb_checkpoints
molli_xt.*.so

# Files not to be uploaded to repo
**/_temp_*
**/*.lock
**/.vscode/
/.vscode/c_cpp_properties.json
molli/chem/molli_dev.code-workspace
