# Unnecessary folders
/scratch
/temp
/build
/dist
/misc

# Python residues
**/.vscode/
**/__pycache__
**/*.pyd
**/*.pyc
molli.egg-info/

# Jupyter residues
**/.ipynb_checkpoints
molli_xt.*.so

# Files not to be uploaded to repo
**/_temp_*
molli_test/test_conformer.py
