name: Docker

# This will run when:
# - when new code is pushed to main/develop to push the tags
#   latest and develop
# - when a pull request is created and updated, to make sure the
#   Dockerfile is still valid.
# To be able to push to the GitHub Container Registry, this expects the following
# secrets to be set in the project:
# - GH_USERNAME : username that write push packages to the moleculemaker GitHub org
# - GH_PASSWORD : PAT associated with the username

on: 
  # Trigger the workflow on release activity
  release:
    # Only use the types keyword to narrow down the activity types that will trigger your workflow.
    types:
      - published
      - edited
      # - created

# Certain actions will only run when this is the main repo.
env:
  MAIN_REPO: SEDenmarkLab/molli

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - uses: actions/checkout@v4

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            ghcr.io/moleculemaker/molli
            ghcr.io/SEDenmarkLab/molli
          tags: |
            # set latest tag for default branch
            type=raw,value=latest,enable={{is_default_branch}}
            type=ref,event=branch
            type=ref,event=pr
            type=ref,event=tag
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ secrets.GH_USERNAME }}
          password: ${{ secrets.GH_PASSWORD }}


      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
